---
import Card from "@components/Card.astro"

interface Props {
    cardsTitles: string[]
}

const { cardsTitles } = Astro.props
---

<div class="cardGrid">
    {cardsTitles.map(title => <Card {title} />)}
</div>

<style is:global lang="scss">
    .cardGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: fluid(15px, 30px);
    }
    @include tablet {
        .cardGrid {
            grid-template-columns: 1fr 1fr;
        }
    }
    @include phone {
        .cardGrid {
            grid-template-columns: 1fr;
        }
    }
</style>
