---
import Accordion from "./Accordion.astro"

let items: { title: string; text: string }[] = [
  {
    title: "Каковы преимущества быстровозводимых зданий?",
    text: "Заказ ремонта квартиры под ключ под ключ в Москве – это удобно и выгодно. За фиксированную сумму вы получаете полный комплекс услуг — от разработки дизайн-проекта до чистовой отделки. Такой подход помогает избежать выхода из запланированного бюджета, а также позволяет контролировать процесс выполнения работ и соблюдение сроков, поэтому ремонт не затянется в течение года. Если вы хотите получить качественный и гарантированный результат, заказывайте ремонт квартиры под ключ в нашей компании. Мы профессионально выполним работы и вы будете всегда на связи с нашим менеджером.",
  },
  {
    title: "Насколько прочен и безопасен каркас зданий?",
    text: "Заказ ремонта квартиры под ключ под ключ в Москве – это удобно и выгодно. За фиксированную сумму вы получаете полный комплекс услуг — от разработки дизайн-проекта до чистовой отделки. Такой подход помогает избежать выхода из запланированного бюджета, а также позволяет контролировать процесс выполнения работ и соблюдение сроков, поэтому ремонт не затянется в течение года. Если вы хотите получить качественный и гарантированный результат, заказывайте ремонт квартиры под ключ в нашей компании. Мы профессионально выполним работы и вы будете всегда на связи с нашим менеджером.",
  },
  {
    title: "Сколько времени займет строительство здания с учетом времени доставки?",
    text: "Заказ ремонта квартиры под ключ под ключ в Москве – это удобно и выгодно. За фиксированную сумму вы получаете полный комплекс услуг — от разработки дизайн-проекта до чистовой отделки. Такой подход помогает избежать выхода из запланированного бюджета, а также позволяет контролировать процесс выполнения работ и соблюдение сроков, поэтому ремонт не затянется в течение года. Если вы хотите получить качественный и гарантированный результат, заказывайте ремонт квартиры под ключ в нашей компании. Мы профессионально выполним работы и вы будете всегда на связи с нашим менеджером.",
  },
  {
    title: "На какую нагрузку рассчитаны здания (ветровую, снеговую и т. д.)?",
    text: "Заказ ремонта квартиры под ключ под ключ в Москве – это удобно и выгодно. За фиксированную сумму вы получаете полный комплекс услуг — от разработки дизайн-проекта до чистовой отделки. Такой подход помогает избежать выхода из запланированного бюджета, а также позволяет контролировать процесс выполнения работ и соблюдение сроков, поэтому ремонт не затянется в течение года. Если вы хотите получить качественный и гарантированный результат, заказывайте ремонт квартиры под ключ в нашей компании. Мы профессионально выполним работы и вы будете всегда на связи с нашим менеджером.",
  },
  {
    title: "Здания являются теплыми или холодными?",
    text: "Заказ ремонта квартиры под ключ под ключ в Москве – это удобно и выгодно. За фиксированную сумму вы получаете полный комплекс услуг — от разработки дизайн-проекта до чистовой отделки. Такой подход помогает избежать выхода из запланированного бюджета, а также позволяет контролировать процесс выполнения работ и соблюдение сроков, поэтому ремонт не затянется в течение года. Если вы хотите получить качественный и гарантированный результат, заказывайте ремонт квартиры под ключ в нашей компании. Мы профессионально выполним работы и вы будете всегда на связи с нашим менеджером.",
  },
]
---

<section class="questions section">
  <div class="questions__container">
    <h2 class="subtitle">Часто задаваемые вопросы</h2>
    <div class="questions__text">
      Мы собрали часто задаваемые вопросы наших клиентов и предоставили развернутые ответы. Если у вас остались вопросы,
      не стесняйтесь обращаться к нам напрямую.
    </div>
    <Accordion {items} />
  </div>
</section>

<style is:global lang="scss">
  .questions {
    @include section();
    &__container {
      grid-area: center;
    }
    &__text {
      font-size: fluid(16px, 18px);
      line-height: fluid(24px, 28px);
      color: #5a5a5a;
      margin-bottom: fluid(20px, 40px);
      width: 65%;
    }
  }
  @include laptop {
    .questions {
      &__text {
        width: 100%;
      }
    }
  }
</style>
