---
import Pages from "@components/Pages.astro"
const result: { title: string; text: string }[] = [
  {
    title: "Особенности быстровозводимых промышленных зданий",
    text: "Наша организация опираясь на многолетний опыт в строительстве может произвести полный цикл работ. Начиная от проектирования, возведения здания, планировки территории с последующей асфальтировкой, бетонных работ основания, прокладки коммуникаций(наружных и внутренних) и финишной отделки любого уровня сложности.  Т.е мы можем взять все возникающие  вопросы от 0 уровня до финишной отделки, и вам не придется общаться с кучей субподрядчиков, спорящих друг с другом.",
  },
  {
    title: "Особенности быстровозводимых промышленных зданий",
    text: "Наша организация опираясь на многолетний опыт в строительстве может произвести полный цикл работ. Начиная от проектирования, возведения здания, планировки территории с последующей асфальтировкой, бетонных работ основания, прокладки коммуникаций(наружных и внутренних) и финишной отделки любого уровня сложности.  Т.е мы можем взять все возникающие  вопросы от 0 уровня до финишной отделки, и вам не придется общаться с кучей субподрядчиков, спорящих друг с другом.",
  },
  {
    title: "Особенности быстровозводимых промышленных зданий",
    text: "Наша организация опираясь на многолетний опыт в строительстве может произвести полный цикл работ. Начиная от проектирования, возведения здания, планировки территории с последующей асфальтировкой, бетонных работ основания, прокладки коммуникаций(наружных и внутренних) и финишной отделки любого уровня сложности.  Т.е мы можем взять все возникающие  вопросы от 0 уровня до финишной отделки, и вам не придется общаться с кучей субподрядчиков, спорящих друг с другом.",
  },
  {
    title: "Особенности быстровозводимых промышленных зданий",
    text: "Наша организация опираясь на многолетний опыт в строительстве может произвести полный цикл работ. Начиная от проектирования, возведения здания, планировки территории с последующей асфальтировкой, бетонных работ основания, прокладки коммуникаций(наружных и внутренних) и финишной отделки любого уровня сложности.  Т.е мы можем взять все возникающие  вопросы от 0 уровня до финишной отделки, и вам не придется общаться с кучей субподрядчиков, спорящих друг с другом.",
  },
  {
    title: "Особенности быстровозводимых промышленных зданий",
    text: "Наша организация опираясь на многолетний опыт в строительстве может произвести полный цикл работ. Начиная от проектирования, возведения здания, планировки территории с последующей асфальтировкой, бетонных работ основания, прокладки коммуникаций(наружных и внутренних) и финишной отделки любого уровня сложности.  Т.е мы можем взять все возникающие  вопросы от 0 уровня до финишной отделки, и вам не придется общаться с кучей субподрядчиков, спорящих друг с другом.",
  },
]
---

<section class="search section">
  <div class="search__container">
    <h1 class="title title--mb">Поиск</h1>
    <form action="" class="search__form">
      <input type="text" class="search__form-input" placeholder="Поиск" />
      <button type="submit" class="search__form-button icon-search"></button>
    </form>
    <div class="search__text">Найдено: 20 результатов</div>
    <div class="search__result">
      {
        result.map(({ title, text }) => (
          <a href="" class="search__link">
            <div class="search__link-title">{title}</div>
            <div class="search__link-text">{text}</div>
          </a>
        ))
      }
    </div>
    <Pages />
  </div>
</section>

<style is:global lang="scss">
  .search {
    @include section;
    &__container {
      grid-area: center;
    }

    &__form {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      padding: 16px;
      margin-bottom: fluid(20px, 40px);
      &-input {
        color: #281d15;
        width: 98%;
        font-size: 18px;
        line-height: 28px;
        &::placeholder {
          color: #5a5a5a;
        }
      }

      &-button {
        font-size: 32px;
        color: #281d15;
      }
    }

    &__text {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: #281d15;
    }

    &__link {
      background-color: #ffffff;
      padding: 30px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      @include hover {
        &:hover {
          .search__link-title {
            color: #c26733;
          }
        }
      }
      &-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        color: #281d15;
        transition: color $transition;
      }
      &-text {
        font-size: 16px;
        line-height: 24px;
        color: #5a5a5a;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
</style>
